/* @import "tailwindcss/preflight";
@import "tailwindcss"; */
@import "tailwindcss";
@tailwind utilities;

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.archivo-normal {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  font-family: var(--font-archivo), sans-serif;
}

@layer base {
  .page-container {
    @apply lg:mx-32 md:mx-10 mx-5;
    @apply max-w-7xl;
    @apply min-w-2xs;
  }

  .columns {
    @apply grid lg:grid-cols-12 grid-cols-6;
    @apply lg:gap-x-6 md:gap-x-4 gap-x-2 gap-y-0;
  }

  .section {
    @apply lg:my-32 md:my-28 my-16;
  }

  .gallery-image {
    @apply md:mb-6 mb-3;
  }

  img {
    @apply drop-shadow-xl;
  }

  h1 {
    @apply lg:text-8xl md:text-6xl text-5xl;
  }

  h2 {
    @apply md:text-3xl text-xl;
    @apply md:mb-6 mb-3;
  }

  p,
  a {
    @apply text-sm;
    @apply md:py-0 pt-1;
  }

  .caption {
    @apply md:text-[12px] text-[10px];
  }

  .slick-prev,
  .slick-next {
    @apply lg:h-6 md:h-5 h-2;
  }

  .slick-next {
    @apply lg:-right-11! md:-right-8! hidden;
  }

  .slick-prev {
    @apply lg:-left-11! md:-left-8! hidden;
  }

  .slick-prev:before,
  .slick-next:before {
    @apply hidden;
  }

  .slick-arrow {
    width: auto !important;
    height: auto !important;
    @apply flex justify-center;
  }

  .slick-slide {
    @apply overflow-hidden;
    @apply max-w-full;
  }

  .slick-track {
    @apply flex;
    @apply overflow-hidden;
  }

  .nav-link {
    @apply pb-1;
  }

  .nav-link:hover, .nav-links a:hover {
    @apply transition-transform duration-100;
  }

  .hamburger-menu {
    @apply transition-opacity duration-400;
  }

}